html,body
{

width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

.big{
 color:#D40000;
 font-size:25px;
 font-weight:bold;
 padding: 10px;
 height:50px;
 text-align:center;
 background-color:black;
 font-family:verdana;
 background-image: url("images/zeze2.jpg");
 background-position:bottom;
 }


 a{
color:inherit;
  color: #D40000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #D40000;
  color: white;
}



ul{
float:right;
padding:45px;
}

li {
display : inline-block;
font-size:20px;
color:inherit;
}

#tiny1{
background-color:green;
width:316px;
padding:0px;
margin-left: 600px;
font-size:25px;
color:white;
font-family:verdan;
margin-top: 0px;
font-weight:bold;
}
#tiny2{
color:black;
font-size:20px;
width:200px;
padding:10px;
margin:10px;
margin-top:0px;
}

#tiny3{
background-color:#A70000;
font-size:20px;
color:white;
text-align:center;
padding:30px;
margin-left:10px
margin-top:70px;
width:1500px;
}
{box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
    border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
   height: 40px;
}
/* .big{
color:#D40000;
font-size:50px;
font-weight:bold;
padding: 15px;
height:200px;
text-align:center;
background-color:black;
font-family: verdana;
background-image: url("images/zeze2.jpg");
background-position:bottom;
}

img:hover{
border :solid 1px white;
position:relative;
overflow:hidden;
width:360px;
background:linear-gradient(red);
mix-blend-mode: multiply;
opacity:100%;
transition:0.5s;
transform: scale(0.75.50);
box-shadow:0 25px 40px rgba(1,0.1,2,5);
}


#tiny11{
font-size:20px;
color:black;
width:600px;
padding:150px;
font-family: verdana;
border: solid 1px;
margin:300px;
margin-left:700px;
padding:10px;
}
*/
.big{
color:#D40000;
font-size:50px;
font-weight:bold;
padding: 15px;
height:350px;
text-align:center;
background-color:black;
font-family: verdana;
background-image: url("images/zeze2.jpg");
background-position:bottom;
}
img:hover{
border :solid 4px white;
position:relative;
width:400px;
background:linear-gradient(red);
mix-blend-mode: multiply;
opacity:100%;
transition:0.5s;
/*overflow:hidden;*/
/*z-index: 1;*/
transform: scale(0.75.50);
box-shadow:0 25px 40px rgba(1,2,0,5);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 2px solid;
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color:white;
  padding: 12px 20px;
  border: bold;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}